@import "tailwindcss";



body {
  background-color: #18181b;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Vazir FD';
}


.line-anim {
  display: flex;
  position: relative;
  padding-bottom: 5px;
  transition: .3s;
}

.line-anim:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00a63e;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.line-anim:hover {
  color: #00a63e;
}

.line-anim2:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes flashanim {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(3px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0);
  }
}

.flash {
  animation: infinite 2s flashanim ease;
}


@keyframes jump-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateY(-4px)
  }

  35% {
    transform: translateY(-4px) rotate(17deg)
  }

  55% {
    transform: translateY(-4px) rotate(-17deg)
  }

  65% {
    transform: translateY(-4px) rotate(17deg)
  }

  75% {
    transform: translateY(-4px) rotate(-17deg)
  }

  100% {
    transform: translateY(0) rotate(0)
  }
}

.shake {
  animation: infinite 1.5s jump-shaking;
}

#channelCom {
  background-image: url(../public/image/TalBanner.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.gradientdiv {
  background: #469F45;
  background: linear-gradient(90deg, rgba(70, 159, 69, 1) 44%, rgba(194, 120, 3, 0) 100%);
}